Actividades/Actividad9/agenda2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Elementos simples-->
<xsd:simpleType name="tipoMarcaCoche">
	<xsd:restriction base="xsd:string">
		<xsd:enumeration value="Cupra"/>
        <xsd:enumeration value="Seat"/>
        <xsd:enumeration value="Ford"/>
        <xsd:enumeration value="Skoda"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="tipoCorreo">
	<xsd:restriction base="xsd:string">
		<xsd:pattern value="[a-z]+((\.[a-z]+)*[a-z0-9_-]*)*@[a-z]+\.([a-z]+[a-z0-9]\.)?[a-z]{2,}"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="tipoNombre">
	<xsd:restriction base="xsd:string">
	<xsd:pattern value="([A-ZÁÉÍÓÚ][a-záéíóú]+)(\\s[A-ZÁÉÍÓÚ][a-záéíóú]+)?"/>
	</xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="tipoTelefono">
	<xsd:restriction base="xsd:integer">
		<xsd:pattern value="(+[0-9]{1,3})?[6-9][0-9]{8}"/>
	</xsd:restriction>
</xsd:simpleType>

<!-- Elementos complejos-->
<!-- Contacto Datos-->
<xsd:complexType name="tipoContactoDatos">
    <xsd:sequence>
        <xsd:element name="telefono" type="xsd:string"/>
        <xsd:element name="nombre" type="xsd:string"/>
    </xsd:sequence>
</xsd:complexType>

<!-- Datos-->
<xsd:complexType name="tipoDatos">
    <xsd:sequence>
        <xsd:element name="contacto" type="tipoContactoDatos" minOccurs="0"/>
    </xsd:sequence>
</xsd:complexType>

<!-- Contacto-->
<xsd:complexType name="tipoContacto">
    <xsd:sequence>
        <xsd:element name="nombre" type="xsd:string"/>
        <xsd:element name="apellido1" type="xsd:string"/>
        <xsd:element name="apellido2" type="xsd:string"/>
        <xsd:element name="direccion" type="xsd:string"/>
        <xsd:element name="telefono" type="xsd:integer" maxOccurs="2"/>
        <xsd:element name="email" type="xsd:string" minOccurs="0"/>
        <xsd:element name="fechanacimiento" type="xsd:string"/>
        <xsd:element name="provincia" type="xsd:string"/>
        <xsd:element name="datos" type="tipoDatos" minOccurs="0"/>
    </xsd:sequence>
</xsd:complexType>

<!-- Agenda-->
<xsd:complexType name="tipoAgenda">
    <xsd:sequence>
        <xsd:element name="contacto" type="tipoContacto" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
</xsd:complexType>

<!-- Elemento raíz-->
<xsd:element name="agenda" type="tipoAgenda"/>
</xsd:schema>