Actividades/Actividad9/agenda.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--Tipos simples-->
	<xsd:simpleType name="tipoNombre">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([A-ZÁÉÍÓÚ][a-záéíóú]+)(\\s[A-ZÁÉÍÓÚ][a-záéíóú]+)?"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="tipoTelefono">
		<xsd:restriction base="xsd:integer">
			<xsd:pattern value="(+[0-9]{1,3})?[6-9][0-9]{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--Tipos complejos-->
	<xsd:complexType name="tipoAgenda">
		<xsd:sequence>
			<xsd:element name="contacto" type="tipoContacto" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tipoContacto">
		<xsd:sequence>
			<xsd:element name="nombre" type="xsd:string"/>
			<xsd:element name="telefono" type="tipoTelefono" maxOccurs="2" />
			<xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<!--Elemento raíz-->
	<xsd:element name="agenda" type="tipoAgenda"/>

</xsd:schema>
